# Visual Studio и Rider
.vscode/
.vs2019/
.vs/
*_i.c
*_p.c
*_h.h
*.suo
*.sln.docstates
*.user
*.userosscache
*.suo
*.dotCover
*.tcconfig
*.scc
*.sln.docstates
*.user
*.a
*.lib
*.dll
*.exe
*.pdb
*.idb
*.cache
*.ilk
*.msi
*.res
*.pch
*.ncb
*.log
*.tlog
*.tmp
*.tmp_proj
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.mdf
*.ldf
*.sdf
[Tt]est[Rr]esult*/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Ll]ib/
[Ll]ibraries/
[Aa][Rr][Tt]ifacts/
[Tt]est[Ss]taging/
[Tt]est[Ss]torage/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
node_modules/
.bower/
*.pidb
*.suo
*.user
*.userosscache
*.suo
*.suo